
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-weight: 400!important;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-sidebar, .main-sidebar::before {
    /* width: 300px!important; */
}


/* .scrollable{
    width:1200px;
    height:400px;
    overflow:scroll;
} */
/* navbar Color  */

table.dataTable thead th {

    border-bottom: 1px solid #dee2e6!important;
   
}

table.dataTable  td {
    vertical-align: top;
}



.bg-custom{
    background-color:#3C8DBC !important;
    
}
.brand-link{
    background-color:#3C8DBC !important;
    height:57px!important; 
}
.cutom-hover>btn:hover {
    background-color : #E7E7E7;
  }


/* User Logout css */
#user-logout{
   margin-top:19px!important; 
   width:350px;
}

#user-logout-Li{
    background-color:#3C8DBC !important;
    height: 230px;
}

#user-logout-img{
    height: 110px;
    width:110px; 
}

/* remove border radious of all button */
.border-radius-none{
    border-radius: 0!important;
}

li span #position{

    position:relative!important;

}
li span.stock-count{

    position:absolute!important;
    bottom:23px!important;
    left:132px!important;
    width:25px;
    height:25px;

}